* {
  font-family: 'Muli', sans-serif;
}

body {
  background-color: #B3C3E3;
  color: #382513;
}

main {
  width: 100%;
  background: #FFF6E3;
}

address {
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: auto;
}

hr {
  margin-top: 0;
  width: 90%;
}

a, a:link, a:active {
  color: #E5644E;
  text-decoration: none;
}

h1 {
  padding: 0;
}

section {
  margin-left: 1em;
  margin-right: 1em;
}

footer {
  background-color: #B3C3E3;
}
