* {
  font-family: Helvetica;
}

body {
  background-color: white;
  color: black;
}

main {
  width: 100%;
  background: white;
}

address {
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: auto;
}

hr {
  margin-top: 0;
  width: 90%;
}

a, a:link, a:active {
  color: #961A10;
  text-decoration: none;
}

h1 {
  padding: 0;
}

section {
  margin-left: 1em;
  margin-right: 1em;
}

footer {
  background-color: black;
}
