.template {
  display: none;
}

.head-nav {
  list-style: none;
  position: relative;
  padding: 0;
  font-size: 1.3em;
  background-color: #B3C3E3;
  margin: 0;
}

.head-nav ul {
  list-style-type: none;
}

.head-nav li {
  display: none;
  padding-left: 5px;
  padding-right: 5px;
}

.icon-menu {
  position: absolute;
  top: -1em;
  left: 0;
  max-width: 575px;
  font-size: 1.5em;
}

#filters {
  list-style-type: none;
}

#filters select {
  background: #FFF6E3;
  font-weight: bold;
}

body .head-nav {
  margin: 0;
}

footer {
  text-align: center;
}
