body {
  background-color: #D8CAA8;
  color: #382513;
}

main {
  width: 100%;
}

address {
  display: inline-block;
}

img {
  max-width: 100%;
}

hr {
  margin: 1em;
  width: 90%;
}

a, a:link, a:active {
  color: #E5644E;
  text-decoration: none;
}

h1 {
  padding: 0;
}

.template {
  display: none;
}

.main-header {
  background-color: #D8CAA8;
  text-align: center;
  min-width: 435px;
}

.head-nav {
  list-style: none;
  padding: 0;
  font-size: 22px;
}

.head-nav ul {
  list-style-type: none;
}

.head-nav li {
  display: none;
  padding-left: 5px;
  padding-right: 5px;
}

.head-nav:hover li {
  display: block;
}

.icon-menu {
  float: right;
  max-width: 575px;
}

@media only screen and (min-width: 575px) {
  .icon-menu {
    display: none;
  }
  .head-nav ul {
    list-style-type: none;
    text-align: center;
  }
  .head-nav li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
  }
}

#filters {
  list-style-type: none;
}
