body {
  background-color: #D8CAA8;
  color: #382513;
}

main {
  width: 100%;
}

address {
  display: inline-block;
}

hr {
  margin: 1em;
  width: 90%;
}

a, a:link, a:active {
  color: #E5644E;
}

h1 {
  padding: 0;
}

.template {
  display: none;
}

.main-header {
  background-color: #76A87E;
}

.head-nav {
  list-style: none;
  padding: 0;
}

.head-nav {
  list-style-type: none;
  font-size: 18px;
}
