.main-header {
  background-color: #B3C3E3;
  text-align: center;
  min-width: 435px;
}

@media only screen and (max-width: 646px) {
  .head-nav:hover li  {
    display: block;
    padding-top: .3em;
  }
}
/*Marcus mentioned that I shouldn't have different media queries set to the same pixel value*/

@media only screen and (min-width: 645px) {
  .icon-menu {
    display: none;
  }
  .head-nav ul {
    list-style-type: none;
    text-align: center;
  }
  .head-nav li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
  }
  .head-nav:hover li {
    font-size: 1.1em;
    font-weight: 550;
    transition: font-size 1s, font-weight 1s;
  }
}
